<div class="column is-half is-offset-one-quarter bd-lead">
    <div class="box">
        <h1 class="title is-3">Recuperar Contraseña</h1>

        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" placeholder="Ingrese su email" name="email"
                  formControlName="email">
                </div>
                <p *ngIf="recoveryForm.get('email').invalid && recoveryForm.get('email').touched" class="help is-danger">Debes ingresar tu email</p>
              </div>
      
              <div class="control">
                <input type="submit" value="Recuperar Contraseña" class="button is-link" [disabled]="recoveryForm.invalid">
              </div>
      
        </form>
    </div>
</div>