<section class="text-center " *ngIf="projects">
    <div class="container">



        <div class="row">

            <div class="col-md-10 col-lg-8">
                <h1>Bio3science Gallery</h1>
                <p class="lead">
                    En esta sección encontraras la Galeria de proyectos Bio3science
                </p>

                <div class="row">
                    <div class="col-md-6" *ngFor="let project of projects">
                        <div class="project-thumb hover-element border--round hover--active">
                            <a href="#" [routerLink]="['/project', project.id]">
                                <div class="hover-element__initial">
                                    <div style="background: url(&quot;{{project.images[0].url}}&quot;); opacity: 1;">
                                        <img alt="background" src="{{project.images[0].url}}">
                                    </div>
                                </div>
                                <div class="hover-element__reveal" data-scrim-top="5">
                                    <div class="project-thumb__title">
                                        <h4>{{project.name}}</h4>
                                        <span>{{project.created_at | date : 'longDate'}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
            <!--end item-->
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>