<div div *ngIf="modalAddUniversityActive" class="modal-instance block">

    <div class="modal-container" [ngClass]="{'modal-active':modalAddUniversityActive}">
        <div class="modal-content section-modal" data-width="100%">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross" (click)="toggleAddUniversity()"></div>
                                    <app-university (universiyRegisteredEvent)="eventUniversityRegistered($event)">
                                    </app-university>

                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</div>

<div div *ngIf="modalAddCommunityActive" class="modal-instance block">

    <div class="modal-container" [ngClass]="{'modal-active':modalAddCommunityActive}">
        <div class="modal-content section-modal" data-width="100%">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross" (click)="toggleAddCommunity()"></div>
                                    <app-community (communityRegisteredEvent)="eventCommunityRegistered($event)">
                                    </app-community>

                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-block">
                    <h3>Project</h3>
                    <p>
    
                    </p>
                </div>
                <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                    <div class="row">
    
    
    
                        <div class="col-12">
    
                            <ng-select class="custom" id="project-select" [items]="projects" bindLabel="name_uni" bindValue="id"
                                formControlName="project" placeholder="Ingrese o suscribase a un proyecto existente" (change)="onChangeProject($event)" (search)="typingSearchProject($event)" (close)="closeProject()"></ng-select>
                            <p *ngIf="projectForm.get('project').invalid && projectForm.get('project').touched"
                                class="color--error">Debes
                                ingresar el nombre del proyecto</p>
                        </div>
    
                        <!-- [addTag]="addProject" -->
    
                        <div class="col-md-12">
                            <textarea placeholder="Ingrese la descripción del proyecto" class="validate-required" rows="4"
                                formControlName="description"></textarea>
                            <p *ngIf="projectForm.get('description').invalid && projectForm.get('description').touched"
                                class="color--error">Debes
                                ingresar la descripción del proyecto</p>
                        </div>
    
    
    
                        <div class="col-12">
                            <ng-select class="custom" [items]="universities" bindLabel="name" bindValue="id"
                                formControlName="university"
                                placeholder="Ingrese el nombre de la universidad donde se esta adelantando el proyecto"
                                (change)="onChangeUniversity($event)" [readonly]="mainUniversityDisabled"></ng-select>
                            <p *ngIf="projectForm.get('university').invalid && projectForm.get('university').touched"
                                class="color--error">Debes
                                ingresar la universidad en donde se está adelantando el proyecto</p>
                            <span><a (click)="toggleAddUniversity()" href="javascript: void(0)">¿Agregar una nueva
                                    universidad?</a></span>
                            <br>
                            <br>
    
                            <div *ngIf="lat != 200 && lon != 200">
                                <app-map [lat]="lat" [lon]="lon" [markerDraggable]="false" [markerActive]="true" [zoom]="15"
                                    [height]="400" [layers]="layers" (markerMovedEvent)="markerMoved($event)"></app-map>
                            </div>
                        </div>
    
    
                        <div *ngIf="mainUniversitySelected" class="col-12">
    
                            <ng-select class="custom" [items]="universitiesAssociated" bindLabel="name" bindValue="id"
                                formControlName="universitiesAssociated"
                                placeholder="Ingrese el nombres de las universidades asociadas al proyecto"
                                (change)="onChangeUniversitiesAssociated($event)" [multiple]="true"></ng-select>
                            <p><a (click)="toggleAddUniversity()" href="javascript: void(0)">¿Agregar una nueva
                                    universidad?</a></p>
    
                        </div>
    
                        <div class="col-12">
    
                            <ng-select class="custom" [items]="communitiesAssociated" bindLabel="name" bindValue="id"
                                formControlName="communitiesAssociated"
                                placeholder="Ingrese el nombres de las comunidades asociadas al proyecto"
                                (change)="onChangeCommunitiesAssociated($event)" [multiple]="true"></ng-select>
                            <p><a (click)="toggleAddCommunity()" href="javascript: void(0)">¿Agregar una nueva
                                    comunidad?</a></p>
    
                        </div>
    
                        <div *ngIf="loadImagesActive" class="col-12">
                            <app-load-files></app-load-files>
                            <!-- <button (click)="loadImages()">Load Images</button> -->
                        </div>
                        
                        <div class="col-12">
                            <p *ngIf="projectForm.get('universitiesAssociated').invalid && projectForm.get('communitiesAssociated').invalid"
                            class="color--error">Debes
                            ingresar al menos una universidad o comunidad asociada al proyecto</p>
                            <button type="submit" class="btn btn--primary" [disabled]="projectForm.invalid">Create
                                Project</button>
                        </div>
    
                    </div>
                    <!--end of row-->
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

