<div class="container" *ngIf="project">
    <div class="col-md-12">

        <ol class="breadcrumbs">
            <li>
                <a [routerLink]="['/gallery']">Projects</a>
            </li>
            <li>{{project.name}}</li>
        </ol>
        <hr>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="project">

                <h1>{{project.name}}</h1>
                <p>
                    <i class="fa fa-university fa-1x" aria-hidden="true" title="University"></i>
                    {{project.universidad}}
                    <br>
                    <i class="fa fa-calendar fa-1x" aria-hidden="true" title="Date"></i>
                    {{project.created_at | date : 'longDate'}}
                    <br>
                    <i class="fa fa-user fa-1x" aria-hidden="true" title="Date"></i>
                    {{project.user_name}} {{project.user_last_name}}
                </p>
                <p class="lead">
                    {{project.description}}
                </p>



            </div>

        </div>
        <div class="col-md-6">
            <div *ngIf="lat != 200 && lon != 200">
                <app-map [lat]="lat" [lon]="lon" [markerActive]="false" [zoom]="10" [height]="400" [layers]="layers"
                    (markerMovedEvent)="markerMoved($event)"></app-map>
            </div>
        </div>
    </div>

</div>

<section class="text-center " *ngIf="project">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>Gallery</h2>
                <div class="row">
                    <div class="col-md-4" *ngFor="let image of project.images">
                        <a href="{{image.url}}" data-lightbox="Gallery 1">
                            <img alt="Image {{project.name}}" src="{{image.url}}">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>